<header class="header">
  {% block header %}
    {{ page.header }}
  {% endblock %}
</header>

{% block main %}
<section class="main {{ night }}{{ morning }}{{ day }}{{ evening }}">

  <section class="main-content">
    {% block main_content %}
      {{ page.main_content }}
    {% endblock %}
  </section>

  <aside class="sidebar">
    {% block sidebar %}
      {{ page.sidebar }}
    {% endblock %}
  </aside>

</section>
{% endblock %}

<footer class="footer">
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
</footer>