<header class="header content-header clearfix">
  <div class="layout-container">
    {% block header %}
      {{ page.header }}
    {% endblock %}
  </div>
</header>

{% block main %}
  <section class="main {{ night }}{{ morning }}{{ day }}{{ evening }}">
    <main class="page-content clearfix" role="main">
    <section class="layout-container main-content" role="main">
      {% block content %}
        {{ page.content }}
      {% endblock %}
    </section>
    <aside class="sidebar">
      {% block sidebar %}
        {{ page.sidebar }}
      {% endblock %}
    </aside>
    </main>
  </section>
{% endblock %}

<footer class="footer">
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
</footer>